.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-item-1 {
  grid-column: 1;
}

.grid-item-2 {
  grid-column: 2;
}
body {
  background-image: url("assets/bg.jpg");
}
h1,
h3 {
  text-align: center;
}

h1.bold-banner{
  font-size: 100px;
}